.dataSelection {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  height: auto;
  padding: 0;

  border-radius: 12px;
  background: #24292e;
  box-shadow: 1px 2px 4px #333333, 1px 8px 8px #24292e;
}

div .head {
  padding: 0;
  width: auto;
  height: auto;
  background: rgba(0,0,0,0.54);
  border-radius: 12px 12px 0 0;
}

div .head a {
  display: block;
  width: auto;
  margin: auto 8px auto 8px;
}

div .headline
{
  display: inline-flex;
  flex: 1;
  padding: 0;

  font-size: 24px;
  color: #ffffff;
}

div .icon
{
  display: block;
  width: 32px;
  min-height: 32px;
  height: 100%;
  margin: 8px;
}

.options {
  display: flex;
  flex-direction: column;
  padding: 0;
  white-space: pre;

  color: #c2c3c4;
}

div.entry {
  display: block;
  width: auto;
  height: 100%;
  padding: 18px;

  transition: 250ms ease-in-out;
}

div.entry:hover {
  background: #888888;
  color: #ffffff;

  transition: 250ms ease-in-out;
  cursor: pointer;
}
