<div class="dataSelection">
  <!-- upper title bar -->
  <div class="head">
    <div class="headline">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon" viewBox="0 0 24 24" stroke="white">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
      </svg>
      <a> Messzeiträume </a>
    </div>
  </div>

  <!-- all option entries -->
  <div class="options">
    <div class="entry" routerLink="views/sensors-view">
      <a>Aktuelle Messungen</a>
    </div>
    <div class="entry" routerLink="views/sensors-view">
      <a>Messungen vom vorherigen Tag</a>
    </div>
    <div class="entry" routerLink="views/sensors-view">
      <a>Messungen der letzten Woche</a>
    </div>
    <div class="entry" routerLink="views/sensors-view">
      <a>Übersicht aller Messungen</a>
    </div>
  </div>
</div>
